# $Header: /home/xubuntu/berlios_backup/github/tmp-cvs/uuu/Repository/uuu/Make.config,v 1.4 2003/10/13 01:14:55 bitglue Exp $
#
# common configuration for makefiles
#
# This file is included by every makefile in the Uuu build system.


# set this to on to see the commands being run
VERBOSE=off
COLOR=on

AS=nasm
ASFLAGS=-f bin -I $(UUUROOT)/include -p $(UUUROOT)/include/macros.inc
export AS ASFLAGS

MKUDBFS=mkudbfs
MKUBBFSFLAGS=
export MKUDBFS MKUDBFSFLAGS

UDB_INSTBOOT = udb-instboot
UDB_INSTBOOT_FLAGS =
export UDB_INSBOOT UDB_INSBOOT_FLAGS

ARCH=x86
export ARCH


ifeq ($(VERBOSE),on)
  echo=@:
else
  echo=echo
  .SILENT:
endif

ifeq ($(COLOR),on)
entering=$(echo) "[01;34mentering[00m"
assembling=$(echo) "  [01;32massembling[00m"
generating=$(echo) "  [01;32mgenerating[00m"
else
entering=$(echo) "entering"
assembling=$(echo) "  assembling"
generating=$(echo) "  generating"
endif

%.bin: %.asm
	$(assembling) "$<"
	$(AS) -o $@ $(ASFLAGS) -- $<

%.d: %.asm
	set -e
	$(AS) -M $(ASFLAGS) $< | sed 's/\($*\)\s*:/\1.bin $@ : /g' > $@
	[ -s $@ ] || rm -f $@

basic-clean:
	rm -f *.d

# vim: syn=make
