# $Header: /home/xubuntu/berlios_backup/github/tmp-cvs/uuu/Repository/uuu/Make.config,v 1.1 2003/10/03 19:41:45 bitglue Exp $
#
# common configuration for makefiles
#
# This file is included by every makefile in the Uuu build system.


AS=nasm
ASFLAGS=-f bin -I $(UUUROOT)/include -p $(UUUROOT)/include/macros.inc
export AS ASFLAGS

MKUDBFS=/usr/people/indigo/dev/uuu/toolchain/mkudbfs/mkudbfs
MKUBBFSFLAGS=
export MKUDBFS MKUDBFSFLAGS

ARCH=x86
export ARCH

%.bin: %.asm
	$(AS) -o $@ $(ASFLAGS) -- $<

%.d: %.asm
	@echo making dependencies for '$<'
	@set -e
	$(AS) -M $(ASFLAGS) $< | sed 's/\($*\)\s*:/\1.bin $@ : /g' > $@
	@[ -s $@ ] || rm -f $@

basic-clean:
	rm -f *.d

# vim: syn=make
