# $Header: /home/xubuntu/berlios_backup/github/tmp-cvs/uuu/Repository/uuu/Make.config,v 1.2 2003/10/03 22:58:09 bitglue Exp $
#
# common configuration for makefiles
#
# This file is included by every makefile in the Uuu build system.


# set this to on to see the commands being run
VERBOSE=off

AS=nasm
ASFLAGS=-f bin -I $(UUUROOT)/include -p $(UUUROOT)/include/macros.inc
export AS ASFLAGS

MKUDBFS=mkudbfs
MKUBBFSFLAGS=
export MKUDBFS MKUDBFSFLAGS

ARCH=x86
export ARCH


ifeq ($(VERBOSE),on)
  echo=@:
else
  echo=echo
  .SILENT:
endif

entering=$(echo) "\033[36mentering\033[00m"
assembling=$(echo) "  \033[32massembling\033[00m"
generating=$(echo) "  \033[32mgenerating\033[00m"

%.bin: %.asm
	$(assembling) "$<"
	$(AS) -o $@ $(ASFLAGS) -- $<

%.d: %.asm
	set -e
	$(AS) -M $(ASFLAGS) $< | sed 's/\($*\)\s*:/\1.bin $@ : /g' > $@
	[ -s $@ ] || rm -f $@

basic-clean:
	rm -f *.d

# vim: syn=make
