# $Header: /home/xubuntu/berlios_backup/github/tmp-cvs/uuu/Repository/uuu/sys/bimage/x86/Make.config,v 1.4 2003/12/31 18:34:44 bitglue Exp $
#
# this is included by the top level makefile, and should contain only the
# definition of BIMAGE_OBJS.

BIMAGE_OBJS = \
	sys/bimage/x86/test.o \
	sys/memory_manager/x86/noblame.o \
	util/debug/diable.o \
	lib/hash/fasthash.o \
	fs/vfs/vfs.o
