# $Header: /home/xubuntu/berlios_backup/github/tmp-cvs/uuu/Repository/uuu/sys/bimage/x86/Make.config,v 1.6 2004/01/04 21:49:03 instinc Exp $
#
# this is included by the top level makefile, and should contain only the
# definition of BIMAGE_OBJS.

BIMAGE_OBJS = \
	util/debug/diable.o \
	sys/bimage/x86/test.o \
	sys/memory_manager/x86/noblame.o \
	sys/scheduler/x86/avalon.o \
	sys/interrupts/x86/iridia.o \
	lib/hash/fasthash.o \
	lib/queue/ring.o \
	fs/vfs/vfs.o
