# $Header: /home/xubuntu/berlios_backup/github/tmp-cvs/uuu/Repository/uuu/sys/bimage/x86/Make.config,v 1.2 2003/12/26 21:32:55 bitglue Exp $
#
# this is included by the top level makefile, and should contain only the
# definition of BIMAGE_OBJS.

BIMAGE_OBJS = sys/bimage/$(ARCH)/test.o sys/memory_manager/memory_manager.o
